*{
    padding: 0;
    margin: 0;
}
/* ------gOogLe _fOnTs --_-- css_Link------ */
body{
    font-family: 'Lato', sans-serif;
}


/* --------sTART_header_sECTIOn---------- */

.header-bnr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);

}
.header-bnr_image img{
    width: 400px;
    height: auto;
}
/* --_-_-_-_-flowers-sECTIOn-sTART ----- */
.flowers-main-div{
    padding:100px 200px;

}
.flower-child-div1{

}
.flower-child-div1 h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.flower-child-div1 p {
    text-align: center;
    line-height: 22px;
    margin-bottom: 10px;
}
.flower-child-div2 {
    margin-top: 79px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.bOx_flower-1 {
    background-color: #f2dee7;
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.bOx_flower-1 img {
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.flowers-main-div h4 {
    font-size: 12px;
    border-bottom: 2px solid;
}
.bOx_flower-2{
    background: rgba(5, 151, 160, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.bOx_flower-2 img{
    width: 109px;
    margin-top: 58px;
    height: 242px;
}
.bOx_flower-3{
    background: rgba(71, 125, 17, 0.15);
    width: 240px;
    height: 300px;
    text-align: center;
    border-radius: 121px 121px   0px 0px;
}
.bOx_flower-3 img{
    width: 109px;
    margin-top: 58px;
    height: 242px;

}
.flower-title{
    display: flex;
    position: relative;
}

h4.tree-flower {
    width: 95px;
    position: absolute;
    top: 0;
    left: 548px;
}
h4.pink-flower {
    margin-left: 181px;
}
/* --_-_-_-_-flowers-sECTIOn-sTART ----- */

.header_bnr-inr h2 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 13px;
}
.header_bnr-inr p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

button {
    border: none;
    text-transform: capitalize;
    background: #E55473;
    padding: 14px;
    color: white;
    border-radius: 8px;
}
/* --------HeaDer-sECTIOn-eND---------- */

/* --sECTIOn_services_sTART -- */

.mAIn_seRVICes {
    display: flex;
    padding: 10px 200px;
    justify-content: space-around;
    background-color: #2727270D;
    padding: 80px 0px;
    width: 850px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 59px;
}
section.seRVICes {
    padding: 40px 149px;
}

.seRVICes_box small {
    position: relative;
    top: 18px;
    font-size: 9px;
}
.seRVICes_box img{
    width: 40px;

}
.seRVICes_box small {
    position: relative;
    top: 25px;
    left: -120px;
    font-size: 7px;
}
.se-tiler{
    display: flex;
    padding: 0px 200px;
}
/* --sECTIOn_services_eND -- */

/* ---sTART_team-sECTIOn_-- */
.team{
    padding: 100px 200px;
    background-color: #E554730D;
   

}
.main_team {
    display: flex;
    align-items: center;
    gap: 51px;
}

.content_team h3 {
    font-size: 35px;
    margin-bottom: 13px;
}
.content_team p {
    text-align: center;
    margin-bottom: 17px;
}
.content_team span{
    color: #E55473;
}

.team_button{
    text-align: center;
    margin-left: 189px;
    padding: 13px 23px;
    border: none;
    text-transform: capitalize;
    background: #E55473;
    border-radius: 5px;
}
/* --eND_team-sECTIOn-_--*/

/* --_sociaLsECTIOn-sTART_-- */
.sociaL {
    text-align: center;
    padding: 57px;
}
.sociaL h4{
    font-size: 35px;
    margin-bottom: 11px;
}
.sociaL p {
    font-size: 15px;
    margin-bottom: 30px;
}
.sociaL-maIn{
    display: flex;
    gap: 35px;

}
.sociaL-boX{
    width: 259px;
    height: 318px;

}
.sociaL-boX img {
    width: 259px;
    height: 318px;
}
/* --_sociaLsECTIOn-eND_-- */